/* TODO Website Theme */
/* TODO Dark mode */
html {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #f1f1f1;
  font-weight: 900 !important;
}
body::-webkit-scrollbar {
  display: none;
}
