/* TODO Website Theme */
/* TODO Dark mode */
html {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #f1f1f1;
  font-size: 20px !important;
  /* font-weight: 900 !important; */
}
body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 30em) {
  body {
    font-size: 18px;
  }
}
b,
strong {
  font-weight: 900 !important;
}
h1 {
  font-size: 2.5rem !important;
}
